<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="presencedb" value="Server=10.14.236.68\sofjhbclsql11; Integrated Security=false;Initial Catalog=SQLPR1; uid=PTOOLS; Password=PTOOLS;" />
  </appSettings>
</configuration>
<!--ProjectGuid: 3018E18C-C69C-49CB-A65B-098CF29DF7E5-->